@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-corpo {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

body{
    background-color:#ffddf8;
    color:#ecb3d6;
}

/* ------------------- configurações do menu ------------------- */

.sidebar {
    position: fixed;
    left: -300px; /* Posição inicial fora da tela */
    width: 300px;
    height: 100%;
    background: #9BBEC7;
    transition: all 0.3s ease;
    z-index: 999;
}

.sidebar.active {
    left: 0; /* Posição visível da sidebar */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.sidebar .logo {
    display: block;
    width: 100%;
    padding: 10% 5%;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
}

.sidebar ul {
    list-style: none;
    padding: 2%;
    margin: 25% 0 0 0;
}

.sidebar ul li {
    padding: 8%;
    text-align: center;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s;
}


.menu-btn {
    position: fixed;
    left: 2%;
    top: 2%;
    cursor: pointer;
    z-index: 1000;
    color: #fff;
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    color: #cb4798;
    font-weight: bold;
}

.bloco p {
    font-size: 1.5rem;
    padding-bottom: 2%;
}

li.certi{
   font-size: 1rem;
}

.bloco {
    padding: 3% 10%;
}

/* -------------------------------- rodape ---------------------------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-size: 0.4rem;
    background-color: #cb4798;
}

.redeshead img {
    height: 40px;
    width: 40px;
    margin: 5% 40%;
    display: flex;
}

.info h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    background-color: #9BBEC7;
    width: 100%;
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-slide {
    padding: 12px 24px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color:#cb4798;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s, background-color 0.4s;
   
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Estilos para dispositivos móveis */

body {
    font-size: 70%;
}

.sidebar {
    position: fixed;
    left: -150px;
    width: 150px;
}

footer{
    font-size: 2rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
footer {
    font-size: 30%;
}
}

